{
    "schemes": ["https"],
    "swagger": "2.0",
    "info": {
        "description": "Identity and authorization in one system. Enforcer signs users in, holds who they are (tenants, roles, groups), and answers whether an actor may perform an action on a resource, returning the decision, the policy that made it, and the reason. Because the caller is resolved before evaluation, a policy is handed a real accessor object rather than a bare subject id.",
        "title": "Enforcer API",
        "contact": {
            "name": "Enforcer docs",
            "url": "https://docs.instruxi.dev"
        },
        "version": "3.0"
    },
    "host": "api.instruxi.dev",
    "basePath": "/api/v1/enforcer",
    "paths": {
        "/accounts": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    },
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Every account row the caller may read, newest-name-first by default: admin sees all tenants, tenant_admin and developer see their own tenant, a plain user sees only themselves — the same compiled row filter GET /accounts/summary uses, so a summary tile and the list it drills into always agree on which rows count. All query filters intersect (AND). since/until run on accounts.created_at and are parsed by the same window parser /accounts/summary uses, so the formats and error codes cannot drift between the two endpoints.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "accounts"
                ],
                "summary": "List",
                "operationId": "listAccounts",
                "parameters": [
                    {
                        "type": "string",
                        "description": "free-text search",
                        "name": "q",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "exact email match",
                        "name": "email",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "filter by active flag",
                        "name": "active",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "true = verified emails only, false = unverified only; absent = no filter",
                        "name": "email_verified",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "true = missing first or last name, false = complete profiles only; absent = no filter",
                        "name": "profile_incomplete",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "admin-set provisioner flag (PATCH /accounts/:id/profile-completed): true = marked complete, false = awaiting review; absent = no filter. NOT the same as profile_incomplete, which derives from name data",
                        "name": "profile_completed",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "accounts with a verified session from this provider (e.g. persona)",
                        "name": "verified_provider",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "verified",
                            "pending",
                            "failed",
                            "none"
                        ],
                        "type": "string",
                        "description": "KYC rollup bucket, same precedence as /accounts/summary?group_by=verification_status",
                        "name": "verification_status",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "admin",
                            "tenant_admin",
                            "developer",
                            "user"
                        ],
                        "type": "string",
                        "description": "role slug, same buckets as group_by=role",
                        "name": "role",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "true = has at least one wallet, false = none",
                        "name": "has_wallet",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "true = a phone on the linked person, false = none",
                        "name": "has_phone",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "true = invited by anyone, false = organic signup",
                        "name": "invited",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "only accounts I invited",
                        "name": "invited_by_me",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "format": "uuid",
                        "description": "only accounts invited by this account id (admin invitee tracking; row-level authz still applies)",
                        "name": "invited_by",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "format": "uuid",
                        "description": "restrict to this tenant (row-level authz still applies: a non-admin sees only their own)",
                        "name": "tenant_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "format": "uuid",
                        "description": "only members of this group",
                        "name": "group_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "format": "uuid",
                        "description": "exclude members of this group",
                        "name": "exclude_group_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "format": "date-time",
                        "description": "created at or after this instant (RFC3339) — same param as /accounts/summary",
                        "name": "since",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "format": "date-time",
                        "description": "created before this instant (RFC3339) — same param as /accounts/summary",
                        "name": "until",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "format": "date-time",
                        "description": "last active at or after this instant (RFC3339); never-active accounts never match",
                        "name": "last_active_since",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "name",
                            "name_desc",
                            "recent",
                            "oldest",
                            "active"
                        ],
                        "type": "string",
                        "default": "name",
                        "description": "sort order",
                        "name": "sort",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "page size",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "page offset",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.AccountPageResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/accounts/bulk/activate": {
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    },
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Sets active=true on every id in the body, applying the SAME per-target authorization (ResourceAuth manage, so a tenant_admin can only touch accounts in their own tenant) and the same admin-role-escalation fence as the single-account PUT /accounts/{id}/active. Never all-or-nothing: each id is authorized and applied independently, and the response reports succeeded/failed counts plus a per-id ok|forbidden|error result rather than aborting the batch on the first failure.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "accounts"
                ],
                "summary": "Bulk activate",
                "operationId": "bulkActivateAccounts",
                "parameters": [
                    {
                        "description": "account ids",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.IDsRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.BulkResultResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/accounts/bulk/deactivate": {
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    },
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Sets active=false on every id in the body — the deactivation twin of bulkActivateAccounts, with the identical per-target authorization, escalation fence, and partial-failure reporting (succeeded/failed counts plus a per-id ok|forbidden|error result). Deactivating does not touch sessions or API keys; combine with bulkInvalidateAccountSessions to force those accounts out immediately.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "accounts"
                ],
                "summary": "Bulk deactivate",
                "operationId": "bulkDeactivateAccounts",
                "parameters": [
                    {
                        "description": "account ids",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.IDsRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.BulkResultResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/accounts/bulk/delete": {
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    },
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "IRREVERSIBLE. Hard-deletes every id in the body via the same cascade as DELETE /accounts/{id} (Privy user removal, session/key/link revocation, PII scrub, soft-delete) — not a bulk deactivation. Per-target ResourceAuth manage is enforced independently for each id (a tenant_admin can only delete within their own tenant); the response reports succeeded/failed counts and a per-id ok|forbidden|error result, so a partially-authorized batch still deletes everything it was allowed to.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "accounts"
                ],
                "summary": "Bulk delete",
                "operationId": "bulkDeleteAccounts",
                "parameters": [
                    {
                        "description": "account ids",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.IDsRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.BulkResultResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/accounts/bulk/invalidate-sessions": {
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    },
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "accounts"
                ],
                "summary": "Bulk invalidate sessions (force logout)",
                "operationId": "bulkInvalidateAccountSessions",
                "parameters": [
                    {
                        "description": "account ids",
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.IDsRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.BulkResultResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/accounts/search": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Typo-tolerant identity search over username, first/last name, email and phone, ranked by pg_trgm trigram similarity. Matches when EITHER the similarity operator fires (typo tolerance, governed by pg_trgm.similarity_threshold) OR q is a plain substring of the haystack OR q exactly equals the account's Privy DID. Row visibility is the identical compiled authz filter GET /accounts uses, so this endpoint cannot surface anything the plain list would hide. Cross-tenant callers (admin) MUST pass tenant_id — omitting it is a 400 tenant_required, never a silent union of every tenant's accounts. Tenant-scoped callers may pass their own tenant_id or omit it.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "accounts"
                ],
                "summary": "Fuzzy search",
                "operationId": "searchAccounts",
                "parameters": [
                    {
                        "type": "string",
                        "description": "search text (min 2 chars) — username, name, email, phone, or an exact privy DID",
                        "name": "q",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "format": "uuid",
                        "description": "scope to ONE tenant. Required for cross-tenant callers (admin) — without it the search is a 400, never a silent union of every tenant. Tenant-scoped callers may pass their own tenant or omit it.",
                        "name": "tenant_id",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "true = KYC-verified accounts only; false = everything not verified (same bucket predicate as /accounts?verification_status=)",
                        "name": "verified",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "page size",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "page offset",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.AccountSearchResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/accounts/summary": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    },
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Aggregate counts over the SAME compiled row filter GET /accounts uses, so a tenant admin's summary counts only their tenant and a user's counts only themselves — never a number the list endpoint would refuse to show as rows. group_by buckets into a closed, documented dimension set (an unknown group_by is a 400, not a silent no-op); interval instead (or alongside) produces a time-bucketed data.series over the same since/until window GET /accounts filters on.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "accounts"
                ],
                "summary": "Summary",
                "operationId": "summarizeAccounts",
                "parameters": [
                    {
                        "enum": [
                            "role",
                            "active",
                            "email_verified",
                            "profile_complete",
                            "verification_status",
                            "has_wallet",
                            "invited",
                            "tenant",
                            "verified_provider",
                            "group"
                        ],
                        "type": "string",
                        "description": "bucket dimension; every bucket has a matching GET /accounts filter",
                        "name": "group_by",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "format": "date-time",
                        "description": "RFC3339 lower bound on created_at (inclusive)",
                        "name": "since",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "format": "date-time",
                        "description": "RFC3339 upper bound on created_at (exclusive)",
                        "name": "until",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "hour",
                            "day",
                            "week",
                            "month"
                        ],
                        "type": "string",
                        "description": "returns data.series bucketed at this interval",
                        "name": "interval",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "IANA time zone for bucketing (default UTC)",
                        "name": "tz",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "free-text search",
                        "name": "q",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "exact email match",
                        "name": "email",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "filter by active flag",
                        "name": "active",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "true = verified emails only, false = unverified only; absent = no filter",
                        "name": "email_verified",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "true = missing first or last name, false = complete profiles only; absent = no filter",
                        "name": "profile_incomplete",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "admin-set provisioner flag (PATCH /accounts/:id/profile-completed): true = marked complete, false = awaiting review; absent = no filter. NOT the same as profile_incomplete, which derives from name data",
                        "name": "profile_completed",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "accounts with a verified session from this provider (e.g. persona)",
                        "name": "verified_provider",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "verified",
                            "pending",
                            "failed",
                            "none"
                        ],
                        "type": "string",
                        "description": "KYC rollup bucket",
                        "name": "verification_status",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "admin",
                            "tenant_admin",
                            "developer",
                            "user"
                        ],
                        "type": "string",
                        "description": "role slug",
                        "name": "role",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "true = has at least one wallet, false = none",
                        "name": "has_wallet",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "true = a phone on the linked person, false = none",
                        "name": "has_phone",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "true = invited by anyone, false = organic signup",
                        "name": "invited",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "format": "uuid",
                        "description": "only accounts invited by this account id",
                        "name": "invited_by",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "only accounts I invited",
                        "name": "invited_by_me",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "format": "uuid",
                        "description": "restrict to this tenant (row-level authz still applies)",
                        "name": "tenant_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "format": "uuid",
                        "description": "only members of this group",
                        "name": "group_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "format": "uuid",
                        "description": "exclude members of this group",
                        "name": "exclude_group_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "format": "date-time",
                        "description": "last active at or after this instant (RFC3339)",
                        "name": "last_active_since",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/enforcer-v3_internal_domain_summary.Response"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/accounts/{id}": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    },
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "One account by id (ResourceAuth read — visible to the account itself, its tenant admins, and platform admins). 404 account_not_found for an unknown or out-of-scope id; the endpoint is not an existence oracle for ids outside the caller's authorized scope.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "accounts"
                ],
                "summary": "Get",
                "operationId": "getAccount",
                "parameters": [
                    {
                        "type": "string",
                        "description": "id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.AccountResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "BearerAuth": []
                    },
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Hard-deletes an account (ResourceAuth manage — admin or tenant_admin only): best-effort removes the upstream Privy user, revokes sessions/API keys/links, scrubs PII, then soft-deletes the row. Irreversible from the API's perspective. For a reversible block use PUT /accounts/{id}/active with active=false instead.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "accounts"
                ],
                "summary": "Delete",
                "operationId": "deleteAccount",
                "parameters": [
                    {
                        "type": "string",
                        "description": "id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.OKResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    }
                }
            },
            "patch": {
                "security": [
                    {
                        "BearerAuth": []
                    },
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "accounts"
                ],
                "summary": "Update account profile",
                "operationId": "updateAccountProfile",
                "parameters": [
                    {
                        "type": "string",
                        "description": "id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "request body",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/enforcer-v3_internal_usecase_accounts.ProfileInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.AccountResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/accounts/{id}/active": {
            "put": {
                "security": [
                    {
                        "BearerAuth": []
                    },
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Flips one account's active flag (ResourceAuth manage). The reversible counterpart to DELETE /accounts/{id}: setting active=false blocks the account without removing data, upstream identity, or history. Returns 403 forbidden if the caller would be escalating an admin account's access, the same fence bulkActivateAccounts/bulkDeactivateAccounts enforce per-target.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "accounts"
                ],
                "summary": "Set Active",
                "operationId": "setAccountActive",
                "parameters": [
                    {
                        "type": "string",
                        "description": "id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "active flag",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.SetActiveRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.AccountResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/accounts/{id}/passkey-mfa": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    },
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "accounts"
                ],
                "summary": "Passkey MFA status for an account",
                "operationId": "getAccountPasskeyMfaStatus",
                "parameters": [
                    {
                        "type": "string",
                        "description": "account id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.PasskeyMfaStatusResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "502": {
                        "description": "Bad Gateway",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/accounts/{id}/phone-risk": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    },
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Twilio Lookup v2 risk for an account's phone. Self for any authed user; tenant_admin/admin/developer for any account.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "phone-risk"
                ],
                "summary": "Account phone risk",
                "operationId": "getAccountPhoneRisk",
                "parameters": [
                    {
                        "type": "string",
                        "description": "account id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.PhoneRiskResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/accounts/{id}/profile-completed": {
            "put": {
                "security": [
                    {
                        "BearerAuth": []
                    },
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "accounts"
                ],
                "summary": "Set Profile Completed",
                "operationId": "setAccountProfileCompleted",
                "parameters": [
                    {
                        "type": "string",
                        "description": "id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "profile-completed flag",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.SetProfileCompletedRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.AccountResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/accounts/{id}/role": {
            "put": {
                "security": [
                    {
                        "BearerAuth": []
                    },
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Assigns a role slug to one account (ResourceAuth manage). Rejects with 403 forbidden if the change would escalate an account to admin beyond what the caller may grant, and with 400 unknown_role if the slug does not exist as a role in scope. Role changes take effect immediately — role is read fresh from the account row on every request, never trusted from an old JWT claim.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "accounts"
                ],
                "summary": "Set Role",
                "operationId": "setAccountRole",
                "parameters": [
                    {
                        "type": "string",
                        "description": "id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "role assignment",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.SetRoleRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.AccountResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/accounts/{id}/sessions": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    },
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "accounts"
                ],
                "summary": "List Account Sessions",
                "operationId": "listAccountSessions",
                "parameters": [
                    {
                        "type": "string",
                        "description": "id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.AdminSessionListResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "BearerAuth": []
                    },
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "accounts"
                ],
                "summary": "Revoke Account Sessions",
                "operationId": "revokeAccountSessions",
                "parameters": [
                    {
                        "type": "string",
                        "description": "id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.RevokedSessionsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/admin/auth-events": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    },
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Auth-funnel events for one tenant, newest first — including the attempts that never reached an account, which is the whole point. Pass email to answer \"did this address ever try, and what failed\": the address is hashed server-side and matched against the stored hash, so the search term is never written to the database and the plaintext never had to be stored to be findable. Scoped to the caller's tenant; only a cross-tenant admin may name another via tenant_id. from/to accept RFC3339 or YYYY-MM-DD. Unknown query parameters are a 400, not a silently unfiltered list.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "admin"
                ],
                "summary": "List pre-auth attempts",
                "operationId": "adminListAuthAttempts",
                "parameters": [
                    {
                        "type": "string",
                        "description": "tenant (cross-tenant admin only)",
                        "name": "tenant_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "exact address to search for (hashed server-side)",
                        "name": "email",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "otp_requested",
                            "otp_send_failed",
                            "otp_verify_failed",
                            "login_failed"
                        ],
                        "type": "string",
                        "description": "one of the closed set",
                        "name": "event",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "RFC3339 or YYYY-MM-DD",
                        "name": "from",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "RFC3339 or YYYY-MM-DD",
                        "name": "to",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "page size",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "page offset",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.AuthAttemptListResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/admin/client-events": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    },
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Client telemetry across every tenant the caller may see (admin: all; everyone else: their own), optionally narrowed with tenant_id. A non-admin passing a FOREIGN tenant_id gets 403 rather than being silently shown their own tenant's feed. source is a CSV of event sources (e.g. plaid_link,bank_link_exchange,plaid_refresh_patch,external_bank_unlink,bank_link_funnel); session_id matches either the server-stamped session_id or an external_session_id (e.g. a Privy sid).",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "telemetry"
                ],
                "summary": "Feed",
                "operationId": "adminListClientEvents",
                "parameters": [
                    {
                        "type": "string",
                        "description": "filter by tenant",
                        "name": "tenant_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "CSV of telemetry sources to filter (e.g. plaid_link,bank_link_exchange)",
                        "name": "source",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "single event filter, e.g. EXIT",
                        "name": "event",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "page size",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "page offset",
                        "name": "offset",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "one session's events — matches the server-stamped session_id OR external_session_id (e.g. a Privy sid)",
                        "name": "session_id",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ClientEventListResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/admin/client-events/summary": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    },
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Aggregated client telemetry: totals, per-dimension buckets (group_by=source|event|tenant — tenant requires the platform-admin grant, since it degenerates to one bar for anyone else), and an optional time series bucketed at interval (hour|day|week|month) in the tz IANA zone (default UTC). Uses the SAME row scope and filter vocabulary as adminListClientEvents, so every tile has a drill-down list covering exactly the rows it counted.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "telemetry"
                ],
                "summary": "Client-events summary",
                "operationId": "getClientEventsSummary",
                "parameters": [
                    {
                        "type": "string",
                        "description": "source | event | tenant (tenant requires platform admin)",
                        "name": "group_by",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "narrow to one tenant; non-admins may only name their own",
                        "name": "tenant_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "CSV of sources, e.g. plaid_link,bank_link_exchange — the bank-link chart is this filter",
                        "name": "source",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "exact event, e.g. HTTP_5XX",
                        "name": "event",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "one account's events",
                        "name": "account_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "one session's events — matches the server-stamped session_id OR external_session_id (e.g. a Privy sid)",
                        "name": "session_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "RFC3339 lower bound (clamped by the retention window)",
                        "name": "since",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "RFC3339 upper bound (exclusive)",
                        "name": "until",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "hour | day | week | month — returns data.series bucketed at this interval",
                        "name": "interval",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "IANA time zone for bucketing (default UTC)",
                        "name": "tz",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/enforcer-v3_internal_domain_summary.Response"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/admin/email-dlq": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    },
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "The email dead-letter queue: messages that failed delivery and were parked rather than lost, newest first. Optional topic filter is a case-insensitive substring match on the wire topic. Pair with replayEmailDlqEntry to resend one or deleteEmailDlqEntry to drop it.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "email-dlq"
                ],
                "summary": "List",
                "operationId": "listEmailDlq",
                "parameters": [
                    {
                        "type": "string",
                        "description": "filter by wire topic (case-insensitive substring)",
                        "name": "topic",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "page size",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "page offset",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.DLQEntryListResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/admin/email-dlq/{id}": {
            "delete": {
                "security": [
                    {
                        "BearerAuth": []
                    },
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Acknowledge and drop a parked message WITHOUT replaying it — use when the send is known to be no longer wanted. System-admin gated; 404 dlq_entry_not_found if the id is unknown.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "email-dlq"
                ],
                "summary": "Delete",
                "operationId": "deleteEmailDlqEntry",
                "parameters": [
                    {
                        "type": "string",
                        "description": "id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.OKResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/admin/email-dlq/{id}/replay": {
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    },
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "email-dlq"
                ],
                "summary": "Replay DLQ entry",
                "operationId": "replayEmailDlqEntry",
                "parameters": [
                    {
                        "type": "string",
                        "description": "id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.OKResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/admin/fulfillments": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    },
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "The CS failed-P2P dashboard: fulfillments across the tenant. Party scope is OPTIONAL: `user_id` matches EITHER side (sender, receiver or creator), while `sender_user_id` / `receiver_user_id` pin one end. All supplied filters intersect, so sender+receiver together mean \"from A to B\". Without them the list is tenant-wide and only pageable. `status` = closed (cancelled|declined|expired — the failed set), outstanding (pending|claimed|submitted), all, or an exact status. A system admin may pass ?tenant_id to view another tenant; tenant-scoped callers (tenant_admin, developer) are pinned to their own. total matches the rows' filter.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "fulfillment"
                ],
                "summary": "Failed / all P2P fulfillments, tenant-wide (admin)",
                "operationId": "adminTenantFulfillments",
                "parameters": [
                    {
                        "type": "string",
                        "description": "closed|outstanding|all|\u003cexact\u003e (default all)",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "recent",
                            "oldest"
                        ],
                        "type": "string",
                        "description": "recent (newest first, default) | oldest",
                        "name": "sort",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "view another tenant (admin only)",
                        "name": "tenant_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "scope to one person on EITHER side (sender, receiver or creator)",
                        "name": "user_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "scope to transfers SENT by this user",
                        "name": "sender_user_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "scope to transfers RECEIVED by this user",
                        "name": "receiver_user_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "reference starts with this literal prefix (e.g. RWD:\u003cgroup_id\u003e:) — payout-campaign rows",
                        "name": "reference_prefix",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "sugar for reference_prefix=RWD:\u003cgroup_id\u003e: — everything fanned out from this payout group",
                        "name": "group_id",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "p2p",
                            "deposit",
                            "billpay",
                            "direct",
                            "reward",
                            "terminal"
                        ],
                        "type": "string",
                        "description": "p2p (no machine tag — a real person-to-person transfer) | deposit (DEPOSIT:) | billpay (BP:) | direct (DIRECT:) | reward (RWD:) | terminal (TERMINAL: — a POS sale)",
                        "name": "kind",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "include",
                            "exclude",
                            "only"
                        ],
                        "type": "string",
                        "description": "include (default) | exclude | only — sender == receiver rows (bill-pay funding, quick pays, self-sends)",
                        "name": "self_payments",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "RFC3339 lower bound (inclusive)",
                        "name": "created_after",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "RFC3339 upper bound (exclusive)",
                        "name": "created_before",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "exact on-chain hash (case-insensitive) — what a customer pastes into a ticket",
                        "name": "tx_hash",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "exact reference match",
                        "name": "reference",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "scope to a CYBRID customer guid, resolved to the account(s) holding it (other providers write their own id shapes into the same column and are not searched); a guid belonging to nobody returns an EMPTY page, never the tenant",
                        "name": "customer_guid",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "only",
                            "exclude"
                        ],
                        "type": "string",
                        "description": "only | exclude — rows whose summed ROUTED settlements EXCEED notional_uoa. A memo is a payer-supplied bytes32 that can be routed more than once, and a route may declare a larger notional than the request asked for; either way the receiver holds more than the record says was owed.",
                        "name": "overpaid",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "page size",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "page offset",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.AdminFulfillmentListResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/admin/fulfillments/timeseries": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    },
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Bucketed counts + notional sums for a single user, for the operator activity chart. `user_id` is matched on EITHER side (sender, receiver or creator) — the same party test GET /admin/fulfillments uses, so the chart and the list it drills into agree about whose transfer a row is. `bucket` is day|week|month. Sent/received split by the CHARTED user's role, not the caller's. `settled` counts only confirmed; `cancelled` folds cancelled|declined|expired and is returned as its OWN series rather than dropped — climbing cancellations are signal. `self_payments` defaults to **exclude**: a self→self fulfillment is funding plumbing, and counting it as customer activity misreads treasury operations as behaviour. Aggregated in SQL, so cost scales with buckets rather than transfers.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "fulfillment"
                ],
                "summary": "One person's P2P activity over time (admin)",
                "operationId": "adminFulfillmentTimeseries",
                "parameters": [
                    {
                        "type": "string",
                        "description": "the person to chart (either side)",
                        "name": "user_id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "enum": [
                            "day",
                            "week",
                            "month"
                        ],
                        "type": "string",
                        "description": "day|week|month (default day)",
                        "name": "bucket",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "RFC3339 lower bound (inclusive)",
                        "name": "since",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "RFC3339 upper bound (exclusive)",
                        "name": "until",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "sent",
                            "received",
                            "all"
                        ],
                        "type": "string",
                        "description": "sent|received|all (default all)",
                        "name": "direction",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "include",
                            "exclude",
                            "only"
                        ],
                        "type": "string",
                        "description": "include|exclude|only (default exclude)",
                        "name": "self_payments",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "view another tenant (admin only)",
                        "name": "tenant_id",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.AdminFulfillmentTimeseriesResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/admin/fulfillments/{id}": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    },
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Operator point lookup for a transfer named in a ticket. Fenced to the caller's tenant (or `tenant_id` for the admin role): an id in another tenant is a 404, never a 403, so the endpoint is not an existence oracle. Counterparty contact PII is scrubbed — the operator is not a party.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "fulfillment"
                ],
                "summary": "One fulfillment by id (admin)",
                "operationId": "adminGetFulfillment",
                "parameters": [
                    {
                        "type": "string",
                        "description": "fulfillment id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "view another tenant (admin only)",
                        "name": "tenant_id",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.FulfillmentResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/admin/persons": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    },
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Platform-wide search over PERSONS (the cross-tenant human identity that accounts hang off), not accounts — requires the cross-tenant grant. This is how you find every account one human holds across tenants and spot a duplicate signup; an account-level search cannot see across tenant boundaries. tenant_id restricts to persons with a live account in that tenant; invited_by restricts to persons with an account invited by a given account id.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "person"
                ],
                "summary": "Search persons",
                "operationId": "listPersons",
                "parameters": [
                    {
                        "type": "string",
                        "description": "email",
                        "name": "email",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "phone",
                        "name": "phone",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "free-text query",
                        "name": "q",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "verified_only",
                        "name": "verified_only",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "restrict to persons with a live account in this tenant",
                        "name": "tenant_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "restrict to persons with an account invited by this account id",
                        "name": "invited_by",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "RFC3339 lower bound on created_at (inclusive)",
                        "name": "created_after",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "RFC3339 upper bound on created_at (exclusive)",
                        "name": "created_before",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "name",
                            "name_desc",
                            "recent",
                            "oldest"
                        ],
                        "type": "string",
                        "description": "name (A-Z, default) | name_desc | recent | oldest",
                        "name": "sort",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "limit",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "offset",
                        "name": "offset",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.PersonPageResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/admin/persons/{id}": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    },
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "One person's platform-wide record: identity fields and every account they hold, across every tenant. Requires the cross-tenant grant, same as listPersons.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "person"
                ],
                "summary": "Get person",
                "operationId": "getPerson",
                "parameters": [
                    {
                        "type": "string",
                        "description": "id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.PersonAdminDetailResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/internal_delivery_http_handler.ErrorResponse"
                        }
                    },
                    "401": {
[...]
